.choresText {
   color: green;
   font-family: 'Times New Roman', Times, serif;
   font-size: x-large;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: red;
   text-decoration: underline;
   text-align: left;
}